/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
@include mat-core();
@import "./themes/sd-dark-theme";
// Import common styles
@import "app-common";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $primary-color;
}

.sd-dark-theme {
  @include angular-material-theme($sd-dark-theme);
}
